/* YOUR STYLES HERE */
img {
    height: 250px;
}

h6 {
    color: #ffdb6d;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: #ffdb6d;
    padding: 1rem;
    background-color: #1d2531;
}

